html, body, #root {
    height: 100%;
}

.excel{
    border-collapse: collapse;
    font-size: 14px;
}

.excel thead {
    position: sticky;
    top: 0;
    z-index: 9;
}

.excel thead th {
    background: #e4e4e4;
    position: sticky;
    left: 0;
    z-index: 2;
    border: 1px solid gray;
    border-top: 0;
    padding: 0 0 0 5px;
}

.excel .colHead{
    position: sticky;
    left: 0;
    background: #e4e4e4;
    z-index: 8;
    padding: 0 2px;
    text-align: center;
    border: 1px solid black;
}

.excel td{
    padding: 0;
    box-sizing: border-box;
    position: relative;
    white-space: pre;
}
.excel td .cell-content{
    box-sizing: border-box;
    padding-left: 3px;
    overflow: visible;
    display: flex;
    position: relative;
}

.cell-content:hover {
    z-index: 9;
}

.excel .selection:hover .cell-content{
    background-color: rgba(211, 211, 211, 0.5) !important;
}

button, select, input {
    margin: 0 2px;
}

.modal-stretch {
    max-width: none !important;
    width: fit-content !important;
    margin-left: auto;
    margin-right: auto;
}

.modal-90w {
    max-width: 90% !important;
    width: 90% !important;
}
