.excel{
    border-collapse: collapse;
    font-size: 14px;
    table-layout: auto;
    width: max-content;
    border-spacing: 0;
}

.excel td{
    position: relative;
    padding: 0;
    border-spacing: 0;
    box-sizing: border-box;
}
.excel td .cell-container{
    display: flex;
    position: relative;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}

.excel td .cell-content{
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    white-space: pre;
}

.excel .cell-container:hover {
    z-index: 9;
    overflow: visible;
}

/*Special mode, good if not stretched, but content doesn't fit
.excel .cell-container:hover .cell-content {
    border: 3px dashed cyan;
    box-sizing: border-box;
    background: white;
}*/

/*.excel tr:hover td:not(.rowHeader) {
    background-color: #eee !important;
}*/

/* Styles for both */
.excel td.columnHeader,
.excel td.rowHeader {
    border: 1px solid black;
    background: white !important;
    z-index: 33;
    position: sticky;
    overflow: visible;
}

.excel .columnHeader .cell-container,
.excel .rowHeader .cell-container {
    overflow: visible;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
}

.excel .columnHeader .cell-content,
.excel .rowHeader .cell-content {
    align-items: center;
}

/* Individual styles */
.excel td.rowHeader {
    top: 0;
}

.excel td.columnHeader {
    left: 0;
}

.excel td.rowHeader .cell-content {
    position: sticky;
    left: 35px;
    z-index: 35;
}

.excel .active{
    background: cyan !important;
}
